<html lang="en">

<head>
    <title>Quản lý nhân viên</title>
    <link rel="stylesheet" href="/css/timkiem.css">
    <link rel="icon" type="icon" href="icon/logo.png">
    <%- include('sliderbar.ejs') %>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sign up</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
</head>

<body>
    <style>
        th {
            text-align: center;
        }
    </style>
    <div class="sinhvien">
        <h1>Quản Lý Nhân Viên</h1>
        <div>
            <form method="post" action="/nhanvien/search">
                <div>
                    <button class="tk" type="submit" value="Tìm kiếm">Tìm kiếm</button>
                    <input id="searchnv" class="Timkiem" type="text" name="searchnv" value=""
                        placeholder="Nhập tên hoặc mã nhân viên">
                </div>
            </form>
        </div>
        <!-- Button trigger modal thêm -->
        <!-- <form method="post" action="/dropdown"> -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Thêm nhân viên
        </button>
        <!-- </form> -->

        <!-- Modal -->
        <form method="post" action="/nhanvien/create">
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Thêm nhân viên</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">

                            <div class="mb-3">
                                <label for="maNhanVien" class="form-label">Mã nhân viên</label>
                                <input class="form-control" id="maNhanVien" aria-describedby="emailHelp"
                                    name="maNhanVien" required>
                            </div>
                            <div class="mb-3">
                                <label for="tenNhanVien" class="form-label">Tên nhân viên</label>
                                <input type="text" class="form-control" id="tenNhanVien" name="tenNhanVien" required>
                            </div>

                            <script>
                                try {
                                    const a = await fetch('/dropdown') // Thay /path/to/ với đường dẫn trả về JSON của bạn
                                        .then(response => response.json())
                                        .then(nhanVien => {
                                            // Thêm dữ liệu vào dropdown
                                            nhanVien.forEach(employee => {
                                                const option = document.createElement("option");
                                                option.value = employee.maNhanVien;
                                                option.textContent = employee.tenNhanVien;
                                                document.getElementById("employeeSelect").appendChild(option);
                                            });
                                        })
                                        .catch(error => console.error("Lỗi khi tải dữ liệu JSON:", error));

                                } catch (error) {
                                    console.error('Lỗi khi gọi API:', error);
                                }
                            </script>

                            <select class="form-select" aria-label="Default select example">
                                <option selected>Open this select menu</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>

                            <div class="mb-3">
                                <label for="maChucVu" class="form-label">Mã chức vụ</label>
                                <input type="text" class="form-control" id="maChucVu" name="maChucVu" required>
                            </div>
                            <div class="mb-3">
                                <label for="maPhongBan" class="form-label">Mã phòng ban</label>
                                <input type="text" class="form-control" id="maPhongBan" name="maPhongBan" required>
                            </div>
                            <div class="mb-3">
                                <label for="tuoi" class="form-label">Tuổi</label>
                                <input type="number" class="form-control" id="tuoi" name="tuoi">
                            </div>
                            <div class="mb-3">
                                <label for="sdt" class="form-label">Số điện thoại</label>
                                <input type="number" class="form-control" id="sdt" name="sdt">
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <table>
            <thead border="1">
                <tr>
                    <th class="col-2">Mã nhân viên</th>
                    <th class="col-2">Tên nhân viên</th>
                    <th class="col-2">Mã chức vụ</th>
                    <th class="col-2">Mã phòng ban</th>
                    <th class="col-1">Tuổi</th>
                    <th class="col-1">Số điện thoại</th>
                    <th class="col-2">Thao tác</th>
                </tr>
            </thead>
            <tbody>
                <div>
                    <% listNhanVien.forEach(function(item,index){ %>
                        <div>
                            <tr>
                                <td>
                                    <%= JSON.stringify(item.maNhanVien)%>
                                </td>
                                <td>
                                    <%= JSON.stringify(item.tenNhanVien)%>
                                </td>
                                <td>
                                    <%= JSON.stringify(item.maChucVu)%>
                                </td>
                                <td>
                                    <%= JSON.stringify(item.maPhongBan)%>
                                </td>
                                <td>
                                    <%= JSON.stringify(item.tuoi)%>
                                </td>
                                <td>
                                    <%= JSON.stringify(item.sdt)%>
                                </td>
                                <td>
                                    <!-- <form method="" style="display: inline;" action="">
                                        <button type="submit" class="btn btn-warning">Sửa</button>
                                    </form> -->
                                    <div class="d-flex align-items-center ">
                                        <!-- Button trigger modal xem info -->
                                        <button type="button" style="display: inline;" class="btn btn-primary"
                                            data-bs-toggle="modal" data-bs-target="#modalinfo<%=item.maNhanVien%>">
                                            Info
                                        </button>

                                        <!-- Modal -->
                                        <div class="text-start">
                                            <form method="post" action="/nhanvien/info">
                                                <div class="modal fade" id="modalinfo<%=item.maNhanVien%>" tabindex="-1"
                                                    aria-labelledby="modalinfo" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">



                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalLabel">
                                                                    Thông tin
                                                                    Nhân viên <%=item.tenNhanVien%>
                                                                </h5>
                                                                <button type="button" class="btn-close"
                                                                    data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>

                                                            <div class="modal-body">
                                                                <div class="mb-3"
                                                                    style="display: flex; justify-content: space-between; width: 100%;">
                                                                    <span style="flex: 1; text-align: left;">
                                                                        Mã nhân viên = <%=item.maNhanVien%>
                                                                    </span>
                                                                    <span style="flex: 1; text-align: left;">
                                                                        Tên nhân viên = <%=item.tenNhanVien%>
                                                                    </span>
                                                                </div>
                                                                <div class="mb-3"
                                                                    style="display: flex; justify-content: space-between; width: 100%;">
                                                                    <span style="flex: 1; text-align: left;">
                                                                        Mã chức vụ = <%=item.maChucVu%>
                                                                    </span>
                                                                    <span style="flex: 1; text-align: left;">
                                                                        Tên Chức Vụ = <%=item.ChucVu.tenChucVu%>
                                                                    </span>
                                                                </div>
                                                                <div class="mb-3"
                                                                    style="display: flex; justify-content: space-between; width: 100%;">
                                                                    <span style="flex: 1; text-align: left;">
                                                                        Mã phòng ban = <%=item.maPhongBan%>
                                                                    </span>
                                                                    <span style="flex: 1; text-align: left;">
                                                                        Tên phòng ban = <%=item.maPhongBan%>
                                                                    </span>
                                                                </div>
                                                                <div class="mb-3">
                                                                    <label for="tuoi" class="form-label">Tuổi =
                                                                        <%=item.tuoi%>
                                                                    </label>
                                                                </div>
                                                                <div class="mb-3">
                                                                    <label for="sdt" class="form-label">Số điện
                                                                        thoại = <%=item.sdt%>
                                                                    </label>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>

                                        <form method="post" style="display: inline;" class="ms-2 mt-3"
                                            action="/nhanvien/delete/<%=item.maNhanVien%>">
                                            <button type="submit" class="btn btn-danger ">Xóa</button>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                        </div>
                        <% })%>
                </div>
            </tbody>
        </table>
    </div>
    <script src="/src/service/nhanVienService.js"></script>
</body>